################################################################################
# Visual Studio / .NET
################################################################################

# Build outputs (all project layers)
**/bin/
**/obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Publish profiles (local credentials)
*.pubxml.user

# NuGet
**/packages/
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/
